<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="VODServiceBase.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <VODServiceBase.AppSettings>
            <setting name="sessionID" serializeAs="String">
                <value>11</value>
            </setting>
            <setting name="serviceRef" serializeAs="String">
                <value>VFAMILY_M</value>
            </setting>
            <setting name="xmlSavePath" serializeAs="String">
                <value>\\10.3.92.160\vod\Excel VTVcab</value>
            </setting>
        </VODServiceBase.AppSettings>
    </applicationSettings>
</configuration>